#storiesVBox {

}

#storiesVBox > VBox {
    -fx-spacing: 10;
}

#storiesVBox > VBox > HBox {
    -fx-alignment: center;
    -fx-spacing: 10;
}


#playersVBox {
    -fx-spacing: 10;
}

#playersVBox > VBox {
    -fx-spacing: 10;
}

#playersVBox > HBox {
    -fx-alignment: center;
    -fx-spacing: 10;
}

#deadLinksVBox {
    -fx-spacing: 10;
}

#deadLinksVBox > VBox {
    -fx-alignment: center;
    -fx-spacing: 10;
}

#deadLinksVBox > HBox {
    -fx-alignment: center;
    -fx-spacing: 10;
}

#startNewGameHBox {
    -fx-alignment: center;
    -fx-spacing: 10;
}

VBox {
    -fx-alignment: top-center;
    -fx-padding: 10;
}

TableView {
    -fx-background-color: transparent;
    -fx-border-color: rgb(4, 241, 234);
    -fx-border-width: 1px;
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.table-row-cell:selected {
    -fx-background-color: rgb(0, 190, 185);
}

#mainHBox {
    -fx-alignment: top-center;
    -fx-spacing: 20;
}

VBox {
    -fx-alignment: top-center;
    -fx-padding: 10;
}

Button {
    -fx-border-width: 1px;
    -fx-border-color: black;
}