#centerVBox {
    -fx-alignment: top-center;
    -fx-pref-width: 800;
    -fx-max-width: 1000;
    -fx-padding: 20;
    -fx-spacing: 20;
}

#ongoingGamesTableView {
    -fx-background-color: transparent;
    -fx-border-color: rgb(4, 241, 234);
    -fx-border-width: 1px;
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.table-row-cell:selected {
    -fx-background-color: rgb(0, 190, 185);
}

#buttonHBox > Button {}

#buttonHBox {
    -fx-spacing: 10;
    -fx-alignment: center;
}

Button {
    -fx-border-width: 1px;
    -fx-border-color: black;
}