.split-pane {
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-background-color: grey;
    -fx-start-margin: 60;
}

.split-pane > .split-pane-divider {
    -fx-background-color: white;
    -fx-padding: 0 1 0 1;
    -fx-border-width: 1;
    -fx-border-radius: 0;
    -fx-background-color: pink;
}

SpliPane {
    -fx-background-color: red;
}

HBox, VBox {
    -fx-alignment: center;
}

Text {
    -fx-font-smoothing-type: lcd;
    -fx-fill: black;
    -fx-font-size: 20pt;
    -fx-background-color: pink;
}

.text-area {
    -fx-background-color: black;
    -fx-border-radius: 0;
    -fx-border-color: black;
    -fx-border-width: 1;
}
