VBox > Text {
    -fx-font-smoothing-type: lcd;
    -fx-fill: linear-gradient(to top, black, darkslategrey);
    -fx-font-size: 36pt;
    -fx-font-family: "Arial Black", fantasy;
    -fx-font-weight: bold;
    -fx-text-transform: uppercase;
}


VBox > HBox {
    -fx-alignment: center;
}

VBox > HBox > VBox {
    -fx-padding: 10;
}

VBox > HBox > VBox > Text {
    -fx-font-smoothing-type: lcd;
    -fx-fill: black;
    -fx-font-size: 12pt;
    -fx-font-family: "Arial Black", sans-serif;
    -fx-font-weight: normal;
}

Button {
    -fx-border-width: 1;
    -fx-border-color: black;
}

TableView {
    -fx-border-width: 1;
    -fx-border-color: black;
}

.table-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}