.split-pane {
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-background-color: grey;
}

SpliPane {
    -fx-background-color: red;
}

HBox, VBox {
    -fx-background-color: beige;
    -fx-border-color: black;
    -fx-border-radius: 20;
}

.text-area {
    -fx-background-color: black;
}

TextArea {
    -fx-background-color: black;
}